.footer {
  padding: 20px;
  border: 2px solid #a1791d;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 16px 16px 32px #bebebe, -16px -16px 32px #ffffff;
}

.footer p {
  margin: 0;
  color: #a1791d;
  font-size: 16px;
}
