.header {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #a1791d;
  border-radius: 8px;
  box-shadow: 16px 16px 32px #bebebe, -16px -16px 32px #ffffff;
}

.header h1 {
  color: #a1791d;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
